<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link type='text/css' rel="stylesheet" href="../css/view.css">
</head>

<body>
  <div class="container">
    <div id="one">
      <span>1</span>
      <p class="content1">Finished<br />This is a description</p>
    </div>
    <div id="two">
      <span>2</span>
      <p class="content2">Finished<br />This is a description</p>
    </div>
    <div id="three">
      <span>3</span>
      <p class="content3">Finished<br />This is a description</p>
    </div>
  </div>

  <script language="javascript" src="../js/main.js"></script>
</body>

</html>