<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link type='text/css' rel="stylesheet" href="../CSS/view.css">
</head>
</head>

<body>
  <div class="container">
    <div class="header-container">
      <div class="header-content">
        <div class="header-brand">
          <a href="">Logo</a>
        </div>
        <ul class="header-menu">
          <li>A</li>
          <li>B</li>
          <li>C</li>
        </ul>
      </div>
    </div>
    <div class="body-container">
      <div class="body-content">
        <div class="body-sidebar">
          <div class="items-sidebar">
            <a href="" class="body-item">
              <img style="height: 36px; width: 36px"
                src="https://scontent-hkt1-1.xx.fbcdn.net/v/t1.6435-1/cp0/p40x40/49686181_1816775581782956_767280651706564608_n.jpg?_nc_cat=108&ccb=1-4&_nc_sid=dbb9e7&_nc_ohc=673uAo9a6E8AX8JgIbp&_nc_ht=scontent-hkt1-1.xx&oh=115f75455c973c5b37995516b9db1c56&oe=613A7644" />
              <span>Quang Viet Nguyen</span>
            </a>
          </div>
          <div class="items-sidebar">
            <a class="body-item">
              <img style="height: 36px; width: 36px" src="https://www.facebook.com/rsrc.php/v3/y8/r/S0U5ECzYUSu.png" />
              <span>Bạn bè</span>
            </a>
          </div>
          <div class="items-sidebar">
            <a class="body-item">
              <img style="height: 36px; width: 36px" src="https://www.facebook.com/rsrc.php/v3/y5/r/PrjLkDYpYbH.png" />
              <span>Nhóm</span>
            </a>
          </div>
          <div class="items-sidebar">
            <a class="body-item">
              <img style="height: 36px; width: 36px" src="https://www.facebook.com/rsrc.php/v3/yU/r/D2y-jJ2C_hO.png" />
              <span>Marketplace</span>
            </a>
          </div>
          <div class="items-sidebar">
            <a class="body-item">
              <img style="height: 36px; width: 36px" src="https://www.facebook.com/rsrc.php/v3/y5/r/duk32h44Y31.png" />
              <span>Watch</span>
            </a>
          </div>
          <div class="items-sidebar">
            <a class="body-item">
              <img style="height: 36px; width: 36px" src="https://www.facebook.com/rsrc.php/v3/ys/r/8wTx0Eu2vRq.png" />
              <span>Sự kiện</span>
            </a>
          </div>
          <div class="items-sidebar">
            <a class="body-item">
              <img style="height: 36px; width: 36px" src="https://www.facebook.com/rsrc.php/v3/y8/r/he-BkogidIc.png" />
              <span>Kỷ niệm</span>
            </a>
          </div>
          <div class="items-sidebar">
            <a class="body-item">
              <img style="height: 36px; width: 36px" src="https://www.facebook.com/rsrc.php/v3/yD/r/lVijPkTeN-r.png" />
              <span>Đã lưu</span>
            </a>
          </div>
          <div class="items-sidebar">
            <a class="body-item">
              <img style="height: 36px; width: 36px" src="https://www.facebook.com/rsrc.php/v3/yH/r/kyCAf2jbZvF.png" />
              <span>Trang</span>
            </a>
          </div>
          <div class="items-sidebar">
            <a class="body-item">
              <img style="height: 36px; width: 36px" src="https://www.facebook.com/rsrc.php/v3/yo/r/DO-SN-shaZL.png" />
              <span>Việc làm</span>
            </a>
          </div>
          <div class="items-sidebar">
            <a class="body-item">
              <img style="background-color: #e0dcdc; height: 36px; width: 36px" src="../img/5678831.png" />
              <span>Xem thêm</span>
            </a>
          </div>
          <div class="line"></div>
          <div>
            <div class="edit-sidebar">
              <div class="none">
                <h3>Lối tắt của bạn</h3>
              </div>
              <div class="edit-button">
                <button><a href="">Chỉnh Sửa</a></button>
              </div>
            </div>
            <div class="items-sidebar">
              <a class="body-item">
                <img style="height: 36px; width: 36px"
                  src="https://static.xx.fbcdn.net/rsrc.php/v3/yv/r/GJ4EaivDaSj.png" />
                <span>Facebook Pay</span>
              </a>
            </div>
            <div class="items-sidebar">
              <a class="body-item">
                <img style="height: 36px; width: 36px"
                  src="https://static.xx.fbcdn.net/rsrc.php/v3/ye/r/w-vdKCGzCy1.png" />
                <span>Gần đây nhất</span>
              </a>
            </div>
            <div></div>
            <div></div>
          </div>
        </div>
        <div class="body-view">
          Hello View
        </div>
      </div>
    </div>
  </div>

  <script type='text/javascript' src="../JS/index.js"></script>
</body>

</html>